<%= content_for :page_header do %>
    Listing Student Group
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Facilitator group</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_groups.each do |student_group| %>
  <tr>
    <td><%= student_group.name %></td>
    <td><%= FacilitatorGroup.find(student_group.facilitator_group_id).name %></td>
    <td style="text-align: center;"><%= link_to 'Show', student_group,:class => "primary btn span2" %></td>
    <td style="text-align: center;"><%= link_to 'Edit', edit_student_group_path(student_group,:facilitator_group_id=>student_group.facilitator_group_id),:class => "primary btn span2" %></td>
    <td style="text-align: center;"><%= link_to 'Destroy', student_group, confirm: 'Are you sure?', method: :delete,:class => "danger btn span2" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student group', new_student_group_path(:facilitator_group_id=>@facilitator_group.id) %>
