<%= content_for :page_header do %>
    Showing <%= @student_group.name %>
<% end %>
<div class="row">
  <div class="span7 offset3">

<p>
  <b>Name:</b>
  <%= @student_group.name %>
</p>

<p>
  <b>Facilitator group:</b>
  <%= FacilitatorGroup.find(@student_group.facilitator_group_id).name %>
</p>
    <div class="row">
    <div class="span3 offset8">
    <%= link_to "Manage Students",new_student_group_user_path(:student_group_id=>@student_group.id),:class => "primary btn" %>
    </div>
    </div>
    </div>
</div>

<%= link_to 'Edit', edit_student_group_path(@student_group, :facilitator_group_id=>@student_group.facilitator_group_id),:class => "primary btn" %>
<%= link_to 'Back', student_groups_path(:facilitator_group_id=>@student_group.facilitator_group_id),:class => "primary btn"  %>
