

<%= content_for :page_header do %>
    Listing Raw Materials
<% end %>

<% @raw_material||=RawMaterial.new %>

<%= content_for :secondary_content do %>
    <h3>Add New Raw Material</h3>
    <div style="margin-left: -20%;margin-top: 15%">
      <%= render 'form' %>
    </div>

<% end %>



<table>
  <tr>
    <th>Name</th>
    <th>Price(Rs/Kg)</th>


    <th></th>
    <th></th>
  </tr>

  <% @raw_materials.each do |raw_material| %>
      <tr>
        <td><%= raw_material.name %></td>
        <td><%= raw_material.price_per_kg %></td>


        <td><%= link_to 'Edit', edit_raw_material_path(raw_material),:class=>"edit",:id=>raw_material.id %></td>
        <td><%= button_to 'Destroy', raw_material, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>
<br/>


