<%= content_for :page_header do %>
    Showing  <%= @raw_material.name %>
<% end %>
<div class="row">
  <div class="span7 offset3">
    <p>
      <b>Name:</b>
      <%= @raw_material.name %>
    </p>

    <p>
      <b>Price(Rs/Kg):</b>
      <%= @raw_material.price_per_kg %>
    </p>

  </div>
</div>

<%= link_to 'Edit', edit_raw_material_path(@raw_material) %> |
<%= link_to 'Back', raw_materials_path %>
