<div class="row">
  <div class="span7 ">
    <%= form_for(@simulation) do |f| %>
        <% if @simulation.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@simulation.errors.count, "error") %> prohibited this simulation from being saved:</h2>

              <ul>
                <% @simulation.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="clearfix">
          <%= f.label :name %>
          <div class="input">
            <%= f.text_field :name, :class=>"xsmall" %>
          </div>
        </div>

        <%= f.hidden_field :facilitator_id, :value=>@facilitator.id %>
        <%= f.hidden_field :initiated, :value=>false %>

        <div class="clearfix">
          <%= f.label :product_id %>
          <div class="input">
            <%= f.select :product_id, Product.all.collect { |p| [p.name, p.id] }, :class=>"xsmall" %>
          </div>
        </div>



        <div class="clearfix">
          <%= f.label :max_rounds %>
          <div class="input">
            <%= f.number_field :max_rounds, :class=>"xsmall" %>
          </div>
        </div>


        <div class="row">
          <div class="span1 offset3">
                <%= f.submit "Confirm", :class=>"primary btn" %>

          </div>
        </div>
    <% end %>
  </div>
</div>