<%= content_for :page_header do %>
<h2>Select a Student Group.</h2>

<% end %>
<b>Student Group</b>
<%= form_tag :action => 'set_student_group' do |form| %>
     <%= hidden_field_tag :simulation_id,@simulation.id %>
    <%= select_tag :student_group_id,options_for_select(@student_groups) %>
    <%= submit_tag %>


<% end %>

