<%= content_for :page_header do %>
    Listing <span style="color: white">Cast Studies</span>
<% end %>

<% @simulation=Simulation.new %>
<%= content_for :secondary_content do %>
     <h3>Add New Case Study</h3>
    <div style="margin-left: -25%;margin-top: 10%">

      <%= render 'form' %>
    </div>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

  <% @simulations.each do |simulation| %>
      <tr>
        <td><%= simulation.name %></td>


        <td><%= link_to 'Show', simulation %></td>
        <td><%= button_to 'Destroy', simulation, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New CaseStudy', new_simulation_path %>
