<%= content_for :page_header do %>
    Showing <%= @simulation_markett.name %>
<% end %>
<div class="row">
  <div class="span7 offset3">

<p>
  <b>Simulation:</b>
  <%= @simulation_market.simulation_id %>
</p>

<p>
  <b>Market:</b>
  <%= @simulation_market.market_id %>
</p>


<%= link_to 'Edit', edit_simulation_market_path(@simulation_market) %> |
<%= link_to 'Back', simulation_markets_path %>
</div>
    </div>