<h2>Investments</h2>
<% @set_of_round_investments[@round.id].each_with_index do |round_investment, index| %>
    <%= fields_for "set_of_round_investments[#{@round.id}][#{index}]", round_investment do |f| %>
        <% if round_investment.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(round_investment.errors.count, "error") %> prohibited this round_investment from being saved:</h2>

              <ul>
              <% round_investment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

        <div style="margin-left: -150px">
        <div class="clearfix">

          <div class="input">
            <%= f.check_box :investment_id, {}, @investments[index].id, 0 %>&nbsp;<%= @investments[index].name %>

          </div>
        </div>
          </div>

        <%= f.hidden_field :round_id, :value=>@round.id %>


    <% end %>
<% end %>

