<%= content_for :main_content do %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @loan_type.name %>
</p>


<%= link_to 'Edit', edit_loan_type_path(@loan_type) %> |
<%= link_to 'Back', loan_types_path %>

<% end %>