<%= content_for :page_header do %>
    Showing <%= @simulation_decision_parameter.name %>
<% end %>
<div class="row">
  <div class="span7 offset3">

<p>
  <b>Simulation:</b>
  <%= @simulation_decision_parameter.simulation_id %>
</p>

<p>
  <b>Decision parameter:</b>
  <%= @simulation_decision_parameter.decision_parameter_id %>
</p>


<%= link_to 'Edit', edit_simulation_decision_parameter_path(@simulation_decision_parameter) %> |
<%= link_to 'Back', simulation_decision_parameters_path %>
</div>
</div>