

<%= content_for :page_header do %>
    Listing Investment Types
<% end %>

<% @investment_type=InvestmentType.new %>
<%= content_for :secondary_content do %>
    <h4>Add New Investment Type</h4>
    <%= render 'form' %>

    <% end %>

<table>
  <tr>
    <th>Name</th>

    <th></th>
    <th></th>
  </tr>

<% @investment_types.each do |investment_type| %>
  <tr>
    <td class="<%= investment_type.id %>"><%= investment_type.name %></td>

    <td><%= link_to 'Edit', edit_investment_type_path(investment_type),:class => "edit" ,:id=>investment_type.id%></td>
    <td><%= button_to 'Destroy', investment_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />


