<%= content_for :page_header do %>
    Showing <%= @investment_type.name %>
<% end %>
<div class="row">
  <div class="span7 offset3">

    <p>
      <b>Name:</b>
      <%= @investment_type.name %>
    </p>


  </div>
</div>

<%= link_to 'Edit', edit_investment_type_path(@investment_type) %> |
<%= link_to 'Back', investment_types_path %>
