<div class="row">
  <div class="span7 offset3">

    <%= form_for(@mathematical_model) do |f| %>
        <% if @mathematical_model.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@mathematical_model.errors.count, "error") %> prohibited this mathematical_model
                from being saved:</h2>

              <ul>
                <% @mathematical_model.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="clearfix">
          <%= f.label :name %>
          <div class="input">
            <%= f.text_field :name, :class=>"xlarge" %>
          </div>
        </div>

        <div class="row">
          <div class="span1 offset3">
            <% if params[:action]== "new" %>
                <%= f.submit "Submit", :class=>"primary btn" %>
            <% else %>
                <%= f.submit "Update", :class=>"primary btn" %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>