<%= content_for :page_header do %>
    Showing <%= @medium.name %>
<% end %>
<div class="row">
  <div class="span7 offset3">
    <p>
      <b>Name:</b>
      <%= @mathematical_model.name %>
    </p>

    <%= link_to "Edit", edit_mathematical_model_path(@mathematical_model) %>
    <%= link_to "Back", mathematical_models_path %>
  </div>
</div>
