<%= @impact.name %>


<div class="row">
  <div class="span7 offset3">
    <%= form_for(@impact) do |f| %>
        <% if @impact.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@impact.errors.count, "error") %> prohibited this impact from being saved:</h2>

              <ul>
                <% @impact.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="clearfix">
          <%= f.label :name %>
          <div class="input">
            <%= f.text_field :name, :class=>"xsmall" %>
          </div>
        </div>

        <div class="input ">

          <%= f.submit "Confirm Decision", :class=>"primary btn" %>


        </div>
    <% end %>
  </div>
</div>