<%= content_for :page_header do %>
    Showing <%= @impact.name %>
<% end %>
<div class="row">
  <div class="span7 offset3">

<p>
  <b>Name:</b>
  <%= @impact.name %>
</p>


<%= link_to 'Edit', edit_impact_path(@impact) %> |
<%= link_to 'Back', impacts_path %>
</div>
</div>