<div class="row">
  <div class="span9 offset3">

    <% if params[:target_market_id].nil? %>
        <h2>Set the distance for <%= @market.name %></h2>
    <% else %>
    <h2>Distance between <%= @market.name %> and <%= Market.find(params[:target_market_id]).name %></h2>
    <% end %>
    <br>
        <br>

    <%= render 'form' %>
    <%= link_to 'Back', markets_path %>
  </div>
</div>