<script type="text/javascript">
    $(function() {
        $(".page-header").css("height", "100px");

    });
</script>

<div id="wrapper" style="margin-left: 130px;border: 2px solid black;border-radius: 12px">
  <div id="steps">
    <% @rounds.each_with_index do |round, index| %>
        <% if round.number>0 %>
            <%= form_tag :action=>'create' %>
            <%= hidden_field_tag :simulation_id, @simulation.id %>
            <fieldset class="step">
              <legend>Round Number : <%= round.number %></legend>

              <% @round=round %>
              <% @round_expenses=@set_of_round_expenses[index] %>
              <% @round_investments=@set_of_round_investments[index] %>
              <% @round_loans=@set_of_round_loans[index] %>


              <table>
                <tr>
                  <td colspan="2"><%= render :file=>'round_expenses/new' %></td>
                </tr>


                <tr>
                  <td style="width: 50%;text-align: left;">
                    <%= render :file=>'round_investments/new' %>
                  </td>
                  <td>
                    <%= render :file=>'round_loans/new' %>
                  </td>
                </tr>


              </table>
            </fieldset>

        <% end %>
    <% end %>
  </div>
  <div id="navigation" style="display:none;">
    <ul>
      <% @rounds.each do |round| %>

          <% if round.number>0 %>
              <li class="selected">
                <a href="#">Round  <%= round.number %></a>
              </li>


          <% end %>
      <% end %>
    </ul>
  </div>


</div>
<%= submit_tag "Submit", :class=>"primary btn" %>



