<%= content_for :main_content do %>
<h1>Listing rounds</h1>

<table>
  <tr>

    <th>Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rounds.each do |round| %>
      <% if round.number > 0 %>
  <tr>

    <td><%= round.number %></td>
    <td><%= link_to 'Show', round %></td>
    <td><%= link_to 'Edit', edit_round_path(round) %></td>
    <td><%= link_to 'Destroy', round, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to "Populate Expenses",new_round_expense_path(:round_id=>round.id) %></td>
    <td><%= link_to "Populate Investments",new_round_investment_path(:round_id=>round.id) %></td>
    <td><%= link_to "Populate Environmental Parameters",new_round_environmental_parameter_path(:round_id=>round.id) %></td>
    <td><%= link_to "Populate Loan Details",new_round_loan_path(:round_id=>round.id) %></td>
    <td><%= link_to "Populate Rate Of Interest",populate_rate_of_interest_path(:round_id=>round.id) %></td>
    <td><%= link_to "Populate Depreciation",populate_depreciation_path(:round_id=>round.id) %></td>




  </tr>
          <% end %>
<% end %>
</table>

<br />


    <%= link_to "Go Back To Simulation Page",simulation_path(@simulation.id) %>


<% end %>