

<%= content_for :page_header do %>
    Listing  Types of expenses
<% end %>

<% @expense_type=ExpenseType.new %>
<%= content_for :secondary_content do %>

    <h3>Add New Expense Type</h3>
    <div style="margin-left: -40%;margin-top: 20%">
      <%= render 'form' %>
    </div>

<% end %>
<table>
  <tr>
    <th>Name</th>

    <th></th>
    <th></th>
  </tr>

  <% @expense_types.each do |expense_type| %>
      <tr>
        <td class="<%= expense_type.id %>"><%= expense_type.name %></td>

        <td><%= link_to 'Edit', edit_expense_type_path(expense_type),:class => "edit",:id => expense_type.id %></td>

        <td><%= button_to 'Destroy', expense_type, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>
<br/>


