
<h2>Loans</h2>
    <% @set_of_round_loans[@round.id].each_with_index do |round_loan, index| %>
        <%= fields_for "set_of_round_loans[#{@round.id}][#{index}]", round_loan do |f| %>
        <% if round_loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(round_loan.errors.count, "error") %> prohibited this round_loan from being saved:</h2>

      <ul>
      <% round_loan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

            <div class="clearfix">

              <div class="input-append">
                <%= f.check_box :loan_id, {}, @loans[index].id, 0 %>&nbsp;<%= @loans[index].name %>

              </div>
            </div>




            <%= f.hidden_field :round_id, :value=>@round.id %>


        <% end %>
    <% end %>



</div>