<%= form_for(@round_expense) do |f| %>
  <% if @round_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round_expense.errors.count, "error") %> prohibited this round_expense from being saved:</h2>

      <ul>
      <% @round_expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :round_id %>
    <div class="input">

    <%= f.number_field :round_id %>
      </div>
  </div>


  <div class="clearfix">
    <%= f.label :expense_id %>
    <div class="input">
    <%= f.number_field :expense_id %>
  </div>
  </div>

  <div class="clearfix">
    <%= f.label :summary %>
    <div class="input">
    <%= f.text_area :summary %>
  </div>
  </div>

  <div class="row">
    <div class="span1 offset3">
    <%= f.submit "Submit",:class=>"primary btn" %>
      </div>
  </div>
<% end %>
