<script type="text/javascript">

    $(function() {
        $("#tabs_<%=@round.id %> li:first").addClass("active");
        $("#tab-content_<%=@round.id %> div:first").addClass("active");
    });
</script>

<!--The code to add new expense for that round-->

<h2>Expenses</h2>


<% @set_of_round_expenses[@round.id].each_with_index do |round_expense, index| %>
    <%= fields_for "set_of_round_expenses[#{@round.id}][#{index}]", round_expense do |f| %>



        <%= f.hidden_field :round_id, :value=>@round.id %>
        <%= f.hidden_field :expense_id, :value=>@expenses[index].id %>
        <script type="text/javascript">
            $(function() {

                <%  if !@expenses[index].summary.blank? %>

                var s ='"'+ "<%=@expenses[index].summary%>"+'"';
                <% end %>

                $("#" + "<%=ExpenseType.find(@expenses[index].expense_type_id).name+"_"+@round.id.to_s %>").append('<div class="tab-pane clearfix" id="<%=@round.id %>"><div><b> <%=@expenses[index].name %></b> </div>' + s + ' <br> <%= f.check_box :expense_id,{},@expenses[index].id,0%> </div><br>');

            });

        </script>

    <% end %>

<% end %>


<ul class="tabs" id="tabs_<%= @round.id %>">
  <% @expense_types.each_with_index do |expense_type, index| %>
      <li><a href="#<%= expense_type.name+"_"+@round.id.to_s %>"><%= expense_type.name %></a></li>
  <% end %>
</ul>
<div class="tab-content" id="tab-content_<%= @round.id %>">

  <% @expense_types.each_with_index do |expense_type, index| %>

      <div class="tab-pane" id="<%= expense_type.name+"_"+@round.id.to_s %>">


      </div>
  <% end %>

</div>



<script type="text/javascript">
    $(function() {
        $(".tabs").tabs();
    });

</script>