<%= content_for :page_header do %>
    Showing <%= @client.name %>
<% end %>
<div class="row">
  <div class="span7 offset3">

    <p>
      <b>Name:</b>
      <%= @client.name %>
    </p>
    <br>
    <br>

    <p>
      <b>Client type:</b>
      <%= @client.client_type %>
    </p>

    <br>
    <br>
  </div>
</div>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
