<script type="text/javascript">
    $(function() {
    })
</script>
<%= content_for :page_header do %>
    <%= image_tag('logo_blue1.png') %>
    <small></small>
    <div class="row">
      <div class="span8 offset10" style="margin-top: -160px">
        <%= image_tag('rupee_logo_finesse.png', :size => "200x154") %>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="span10">
    <div class="row">
      <div class="span5" style="font-size:14px;">
        <% if current_user %>

            <% if current_user.superadmin %>
                A finance strategy simulation conceived and adapted to the Indian markets, conditions and context. The
                simulation helps understand the tradeoffs between quantifiable risks and returns, using a systematic
                methodology
                that adjusts for a variety of finance and business variants. A range of outcomes are arrived that are
                then
                used
                to make the business decisions.
                <br/>
                <br/>
                <br/>
            <% elsif current_user.admin %>
                A finance strategy simulation conceived and adapted to the Indian markets, conditions and context. The
                simulation helps understand the tradeoffs between quantifiable risks and returns, using a systematic
                methodology
                that adjusts for a variety of finance and business variants. A range of outcomes are arrived that are
                then
                used
                to make the business decisions.
                <br/>
                <br/>
                <br/>
            <% elsif current_user.facilitator %>
                A finance strategy simulation conceived and adapted to the Indian markets, conditions and context. The
                simulation helps understand the tradeoffs between quantifiable risks and returns, using a systematic
                methodology
                that adjusts for a variety of finance and business variants. A range of outcomes are arrived that are
                then
                used
                to make the business decisions.
                <br/>
                <br/>
                <br/>
            <% elsif current_user.student %>
                A finance strategy simulation conceived and adapted to the Indian markets, conditions and context. The
                simulation helps understand the tradeoffs between quantifiable risks and returns, using a systematic
                methodology
                that adjusts for a variety of finance and business variants. A range of outcomes are arrived that are
                then
                used
                to make the business decisions.
                <br/>
                <br/>
                <br/>
            <% end %>
        <% end %>
      </div>
      <div class="span5">
        <% if current_user %>
            <% if current_user.superadmin %>
                <div style="text-align: left;"><%= image_tag("globe2.png", :size => "240x240") %></div>
                <br/>
            <% elsif current_user.admin %>
                <div style="text-align: left;"><%= image_tag("globe3.png", :size => "240x240") %></div>
                <br/>
            <% elsif current_user.facilitator %>
                <div style="text-align: left;"><%= image_tag("globe1.png", :size => "240x240") %></div>
                <br/>
            <% elsif current_user.student %>
                <div style="text-align: left;"><%= image_tag("globe-solar-panel.jpg", :size => "240x240") %></div>
                <br/>
            <% end %>
        <% end %>
        <div style="text-align: right;color: #556b2f;font-size: 20px;font-weight: bold;margin-right: 20px;">
          <div class="row">
            <div class="span3">
             <h2 style="text-align: center;"> <%= link_to "Proceed", landing_page_path, :class => "primary btn span2" %> </h2> <br/>
              <h2 style="text-align: center;"><%= link_to 'Edit Details', edit_user_registration_path, :class => "primary btn span2" %></h2>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="span4">
    <table style="background-color: #ffffff;color: #000000;">
      <tr style="border: none;">
        <td style="border: none;">
          <%= image_tag("decision1.png", :size => "64x64") %>
        </td>
        <td style="border: none;">
          Go through the budget requests.
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag("market_data.png", :size => "64x64") %>
        </td>
        <td>
          Browse through historical market data.
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag("result.png", :size => "64x64") %>
        </td>
        <td>
          See the results of your decisions.
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag("leaderboard_icon.png", :size => "64x64") %>
        </td>
        <td>
          Compare your performance with others.
        </td>
      </tr>
    </table>
  </div>

</div>

<!-- /container -->










