
<div class="row">
  <div class="span7 offset3">
<%= form_for(@consumer_category) do |f| %>
    <% if @consumer_category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@consumer_category.errors.count, "error") %> prohibited this consumer_category from being
            saved:</h2>

          <ul>
            <% @consumer_category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
      <%= f.text_field :name, :class=>"xsmall"  %>
    </div>
</div>

  <div class="clearfix">
      <%= f.label :price_range %>
      <div class="input">
      <%= f.text_field :price_range, :class=>"xsmall"  %>
    </div>
</div>

  <div class="clearfix">
      <%= f.label :personal_taste_range %>
      <div class="input">
      <%= f.text_field :personal_taste_range, :class=>"xsmall"%>
    </div>
</div>

    <div class="clearfix">
      <%= f.label :dealer_push_range %>
      <div class="input">
      <%= f.text_field :dealer_push_range, :class=>"xsmall"  %>
    </div>
</div>

    <div class="clearfix">
      <%= f.label :media_push_range %>
      <div class="input">
      <%= f.text_field :media_push_range, :class=>"xsmall"  %>
    </div>
</div>

   <div class="input">

                <%= f.submit "Confirm Decision", :class=>"primary btn" %>
        </div>

<% end %>
</div>
</div>