<div class="row">
  <div class="span7 offset3">
    <%= form_for(@game) do |f| %>
        <% if @game.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

              <ul>
                <% @game.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="clearfix">
          <%= f.label :simulation_id %>
          <div class="input">
            <%= f.select :simulation_id, Simulation.all.collect { |sim| [sim.name, sim.id] }, :class=>"xlarge" %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :student_group_id %>
          <div class="input">
            <%= f.select :student_group_id, StudentGroup.all.collect { |sg| [sg.name, sg.id] }, :class=>"xlarge" %>
          </div>
        </div>
        <div class="row">
          <div class="span1 offset3">
            <% if params[:action]== "new" %>
                <%= f.submit "Submit", :class=>"primary btn" %>
            <% else %>
                <%= f.submit "Update", :class=>"primary btn" %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>