<%= content_for :page_header do %>
    Listing Games
<% end %>

<table>
  <tr>
    <th>Simulation</th>
    <th>Student group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @games.each do |game| %>
      <tr>
        <td><%= game.simulation_id %></td>
        <td><%= game.student_group_id %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Game', new_game_path %>
