<div class="row">
  <div class="span7 ">
    <%= form_for(@media_plan) do |f| %>
        <% if @media_plan.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@media_plan.errors.count, "error") %> prohibited this media_plan from being saved:</h2>

              <ul>
                <% @media_plan.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="clearfix">
          <%= f.label :name %>
          <div class="input">
            <%= f.text_field :name, :class=>"xsmall" %>
          </div>

        <div class="input" style="margin-top: 10%;margin-left: 40%">
          <%= f.submit "Confirm Decision", :class=>"primary btn", :style=>"margin-top:-20%" %>
        </div>
        </div>

        </div>
    <% end %>
    </div>
