<div class="row">
  <div class="span7">
    <%= form_for(@medium) do |f| %>
        <% if @medium.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

              <ul>
                <% @medium.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>


        <div class="clearfix">
          <%= f.label :name %>
          <div class="input">
            <%= f.text_field :name, :class=>"xlarge" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :cost %>
          <div class="input">
            <%= f.number_field :cost, :class=>"xlarge" %>
          </div>
        </div>
        <br/>

        <div class="clearfix">
          <%= f.label :impact_id %>
          <div class="input">
            <%= f.select :impact_id, Impact.all.collect { |impact| [impact.name, impact.id] }, :class=>"xlarge" %>
          </div>
        </div>

        <div class="clearfix">
          <%= f.label :unit_id %>
          <div class="input">
            <%= f.select :unit_id, Unit.all.collect { |unit| [unit.name, unit.id] }, :class=>"xlarge" %>
          </div>
        </div>


          <div class="input">

            <%= f.submit "Confirm Decision", :class=>"primary btn" %>


        </div>
        </div>
    <% end %>
    </div>
