<div class="row">
  <div class="span7 " style="margin-left: -20%">
    <%= form_for(@unit) do |f| %>
        <% if @unit.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

              <ul>
                <% @unit.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="clearfix">
          <%= f.label :name %>
          <div class="input">
            <%= f.text_field :name, :class=>"xlarge" %>
          </div>
        </div>
        <div class="row">
          <div class="span1 offset4">

                <%= f.submit "Confirm", :class=>"primary btn" %>

          </div>
        </div>
    <% end %>
  </div>
</div>