<%= content_for :page_header do %>
    Showing <%= @unit.name %>
<% end %>
<div class="row">
  <div class="span7 offset3">

<p>
  <b>Name:</b>
  <%= @unit.name %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
</div>
  </div>