<%= content_for :page_header do %>
    Listing Markets
<% end %>

  <table>
    <tr>
      <th>Name</th>
      <th>Catchment of dealers(Nos)</th>
      <th>Catchment of vendors(Nos)</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @markets.each do |market| %>
        <tr>
          <td><%= market.name %></td>
          <td><%= market.catchment_of_dealers %></td>
          <td><%= market.catchment_of_vendors %></td>
          <td><%= link_to 'Show', market %></td>
          <td><%= link_to 'Edit', edit_market_path(market) %></td>
          <td><%= link_to 'Set Distances', new_market_distance_path(:market_id=>market.id) %></td>
          <td><%= link_to 'View Distances', view_distances_path(:market_id=>market.id) %></td>
          <td><%= button_to 'Destroy', market, confirm: 'Are you sure?', method: :delete %></td>
           <td><%= link_to "view Maps",view_map_path(:market_id=>market.id) %></td>
        </tr>
    <% end %>
  </table>
  <br/>
  <%= link_to 'New Market', view_map_path %>
