



<%= content_for :page_header do %>
    Showing<%= @market.name %>
<% end %>
<div class="row">
  <div class="span7">
    <p>
      <b>Name:</b>
      <%= @market.name %>
    </p>
    <br>


    <p>
      <b>Catchment of dealers:</b>
      <%= @market.catchment_of_dealers %>
    </p>
    <br>

    <p>
      <b>Catchment of vendors:</b>
      <%= @market.catchment_of_vendors %>
    </p>

    <div id="chart">

    </div>
    <% if current_user.superadmin? %>
        <%= link_to 'Edit', edit_market_path(@market) %> |
        <%= link_to 'Back', markets_path %>
    <% end %>
  </div>
</div>