

<%= content_for :page_header do %>
   Listing distances of <%= @market.name %> from each market
<% end %>

<table style="color: orange;">
  <tr>
    <th>
      Market Name
    </th>
    <th>Distance(Kms)</th>
  </tr>
  <% @market_distances.each do |mdistance| %>
      <tr>
        <td><%= Market.find(mdistance.target_market_id).name %></td>
        <td>   <%= mdistance.distance %></td>
      </tr>
  <% end %>
</table>

<h3> <%= link_to 'Back',markets_path %></h3>