<div class="row">
  <div class="span7 offset3">
    <%= form_for(@brand) do |f| %>
        <% if @brand.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

              <ul>
                <% @brand.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <%= f.hidden_field :player_id, :value=>params[:player_id] %>
        <div class="clearfix">
          <%= f.label :name %>
          <div class="input">
            <%= f.text_field :name, :class=>"xlarge" %>
          </div>
        </div>
        <%= f.hidden_field :player_id,:value=>params[:player_id] %>
        <div class="clearfix">
          <%= f.label :price_per_unit %>
          <div class="input">
            <%= f.number_field :price_per_unit, :class=>"xlarge" %>
          </div>
        </div>
        <div class="row">
          <div class="span1 offset3">
            <% if params[:action]== "new" %>
                <%= f.submit "Submit", :class=>"primary btn" %>
            <% else %>
                <%= f.submit "Update", :class=>"primary btn" %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>