<%= content_for :page_header do %>
    Showing <%= @constant.name %>
<% end %>
<div class="row">
  <div class="span7 offset3">

    <p>
      <b>Name:</b>
      <%= @constant.name %>
    </p>

    <p>
      <b>Value:</b>
      <%= @constant.value %>
    </p>


  </div>
</div>
<%= link_to 'Edit', edit_constant_path(@constant) %> |
<%= link_to 'Back', constants_path %>
