<%= content_for :main_content do %>
<h1>Listing player_round_loans</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Round</th>
    <th>Round loan</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @player_round_loans.each do |player_round_loan| %>
  <tr>
    <td><%= player_round_loan.player_id %></td>
    <td><%= player_round_loan.round_id %></td>
    <td><%= player_round_loan.round_loan_id %></td>
    <td><%= player_round_loan.amount %></td>
    <td><%= link_to 'Show', player_round_loan %></td>
    <td><%= link_to 'Edit', edit_player_round_loan_path(player_round_loan) %></td>
    <td><%= link_to 'Destroy', player_round_loan, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player round loan', new_player_round_loan_path %>
<% end %>