<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @player_round_loan.player_id %>
</p>

<p>
  <b>Round:</b>
  <%= @player_round_loan.round_id %>
</p>

<p>
  <b>Round loan:</b>
  <%= @player_round_loan.round_loan_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @player_round_loan.amount %>
</p>


<%= link_to 'Edit', edit_player_round_loan_path(@player_round_loan) %> |
<%= link_to 'Back', player_round_loans_path %>
