<%= content_for :page_header do %>
    Listing <span style="color: white">Products</span>
<% end %>
<%= content_for :secondary_content do %>


    <%= link_to 'New Product', new_product_path %>
<% end %>





<table>
  <tr>
    <th>Name</th>

    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>

        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>

      </tr>
  <% end %>
</table>
<br/>
