<%= content_for :page_header do %>
   Displaying Parameters for <%= @product.name %>
<% end %>

<table>
  <tr>
    <th>Parameter Name</th>
    <th>Parameter Value</th>
  </tr>
  <% @product_parameters.each do |parameter| %>
      <tr>
        <td><%= RawMaterial.find(parameter.raw_material_id).name %></td>
        <td><%= parameter.value %></td>
      </tr>
  <% end %>
</table>
<%= link_to'Back',products_path%>
