<%= content_for :page_header do %>
    Listing Facilitator Group
<% end %>

<table>
  <tr>
    <th>Facilitator group Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facilitator_groups.each do |facilitator_group| %>
  <tr>
    <td><%= facilitator_group.name %></td>
    <td style="text-align: center;"><%= link_to 'Show', facilitator_group,:class => "primary btn span2"  %></td>
    <td style="text-align: center;"><%= link_to 'Edit', edit_facilitator_group_path(facilitator_group),:class => "primary btn span2"  %></td>
    <td style="text-align: center;"><%= link_to "Manage Student Groups",student_groups_path(:facilitator_group_id=>facilitator_group.id),:class => "primary btn span5"  %></td>
    <td style="text-align: center;"><%= link_to 'Destroy', facilitator_group, confirm: 'Are you sure?', method: :delete,:class => "danger btn span2"  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Facilitator group', new_facilitator_group_path %>

