<%= content_for :page_header do %>
    Showing <%= @facilitator_group.name %>
<% end %>
<div class="row">
  <div class="span7 offset3">

    <p>
      <b>Facilitator group Name:</b>
      <%= @facilitator_group.name %>
    </p>


  </div>
</div>
<%= link_to 'Edit', edit_facilitator_group_path(@facilitator_group),:class => "primary btn" %>
<%= link_to 'Back', facilitator_groups_path,:class => "primary btn"  %>